BOT_TOKEN=


SPLETNI_CHANNEL_ID=
SECRET_CHANNEL_ID=
ADMIN_GROUP_ID=


POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=spletni
POSTGRES_USER=bot

# Optional, leave empty if unused
POSTGRES_PASSWORD=


REDIS_HOST=redis
REDIS_PORT=6379