BOT_TOKEN=00000000:ABCDEFGHIGK


SPLETNI_CHANNEL_ID=-1001000000
SECRET_CHANNEL_ID=-1001000001
ADMIN_GROUP_ID=-100100000002


POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=spletni
POSTGRES_USER=bot
POSTGRES_PASSWORD=yourpassword

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=yourpassword


REDIS_HOST=redis
REDIS_PORT=6379